@import "../bootstrap-5.1.1/scss/functions";
// 變數
$primary:#ffab44;
$secondary: #e88f23;
$success: #80fc72;
$danger: #ca0c0c;
$font-family-sans-serif: 'Noto Serif TC';


// 
@import "../bootstrap-5.1.1/scss/variables";
@import "../bootstrap-5.1.1/scss/mixins";
@import "../bootstrap-5.1.1/scss/utilities";

// Layout & components
@import "../bootstrap-5.1.1/scss/root";
@import "../bootstrap-5.1.1/scss/reboot";
@import "../bootstrap-5.1.1/scss/type";
@import "../bootstrap-5.1.1/scss/images";
@import "../bootstrap-5.1.1/scss/containers";
@import "../bootstrap-5.1.1/scss/grid";
@import "../bootstrap-5.1.1/scss/tables";
@import "../bootstrap-5.1.1/scss/forms";
@import "../bootstrap-5.1.1/scss/buttons";
@import "../bootstrap-5.1.1/scss/transitions";
@import "../bootstrap-5.1.1/scss/dropdown";
@import "../bootstrap-5.1.1/scss/button-group";
@import "../bootstrap-5.1.1/scss/nav";
@import "../bootstrap-5.1.1/scss/navbar";
@import "../bootstrap-5.1.1/scss/card";
@import "../bootstrap-5.1.1/scss/accordion";
@import "../bootstrap-5.1.1/scss/breadcrumb";
@import "../bootstrap-5.1.1/scss/pagination";
@import "../bootstrap-5.1.1/scss/badge";
@import "../bootstrap-5.1.1/scss/alert";
@import "../bootstrap-5.1.1/scss/progress";
@import "../bootstrap-5.1.1/scss/list-group";
@import "../bootstrap-5.1.1/scss/close";
@import "../bootstrap-5.1.1/scss/toasts";
@import "../bootstrap-5.1.1/scss/modal";
@import "../bootstrap-5.1.1/scss/tooltip";
@import "../bootstrap-5.1.1/scss/popover";
@import "../bootstrap-5.1.1/scss/carousel";
@import "../bootstrap-5.1.1/scss/spinners";
@import "../bootstrap-5.1.1/scss/offcanvas";
@import "../bootstrap-5.1.1/scss/placeholders";

// Helpers
@import "../bootstrap-5.1.1/scss/helpers";

// Utilities
@import "../bootstrap-5.1.1/scss/utilities/api";
// scss-docs-end import-stack
